{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- dropzone -->
    <link rel="stylesheet" href="{% static 'dropzone.css' %}">
    <script src="{% static 'dropzone.js' %}" defer></script>

    <!-- Custom js -->
    <script src="{% static 'functions.js' %}" defer></script>
    {% block scripts %}
    {% endblock scripts %}

    <title>read posts | {% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="container mt-3">
        {% block content %}
        {% endblock content %}
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-dtFju6aEXIoB4W+ACFKLs04/V/JmIyKxerMQL5/8oxIYGEn8hX1afm0ltd5B21zB" crossorigin="anonymous"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  </body>
</html>